<form *ngIf="!orderPlacedFlag" [formGroup]="profileForm">
    <h3 class="yellow"><strong>{{'your_details' | translate}}</strong></h3>

    <mat-form-field>
        <mat-label>{{'fname' | translate}}</mat-label>
        <input type="text" matInput formControlName="firstName" autocomplete="off">
        <mat-error>
            {{findError('firstName')}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'lastName' | translate}}</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="lastName">
        <mat-error>
            {{findError('lastName')}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'email' | translate}}</mat-label>
        <input type="email" autocomplete="off" matInput formControlName="email">
        <mat-error>
            {{findError('email')}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'phone' | translate}}</mat-label>
        <input type="number" autocomplete="off" matInput formControlName="phone">
        <mat-error>
            {{findError('phone')}}
        </mat-error>
    </mat-form-field>

    <div formGroupName="address">
        <h3 class="blue"><strong>{{'address' | translate}}</strong></h3>
        <mat-form-field>
            <mat-label>{{'street' | translate}}</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="street">
            <mat-error>
                {{findError('address.street')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'city' | translate}}</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="city">
            <mat-error>
                {{findError('address.city')}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'state' | translate}}</mat-label>
            <input type="text" autocomplete="off" matInput formControlName="state">
            <mat-error>
                {{findError('address.state')}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'pin' | translate}}</mat-label>
            <input type="number" autocomplete="off" matInput formControlName="pin">
            <mat-error>
                {{findError('address.pin')}}
            </mat-error>
        </mat-form-field>

    </div>
    <button mat-raised-button (click)="orderPlaced()" [disabled]="!profileForm.valid" color="accent">{{'place_order' | translate}} ₹{{totalPrice}}</button>
</form>

<div *ngIf="orderPlacedFlag">
    <strong>{{'order_placed' | translate}}</strong>
</div>