<div>
    <mat-form-field class="input">
        <mat-label>{{'search' | translate}}</mat-label>
        <input type="text" matInput [formControl]="searchText" autocomplete="off">
    </mat-form-field>
    <a (click)="search()">
        <mat-icon>search</mat-icon>
        <span>{{'bsearch' | translate}}</span>
    </a>
</div>
<div class="flex-card">
    <app-product-card *ngFor="let product of list" [product]="product"></app-product-card>
    <mat-error *ngIf="list.length < 1">{{'no_product' | translate}}</mat-error>
</div>