<mat-toolbar color="primary">
  <a [routerLink]="['/product']">
    <mat-icon>home</mat-icon>
    {{'productList' | translate}}
  </a>
  <a [routerLink]="['/cart']">
    <mat-icon matBadge="{{cartSize}}" matBadgeColor="warn">shopping_cart</mat-icon>
    <span>{{'cart' | translate}}</span>
  </a>
  <a *ngIf="loggedInUser != ''" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>{{'logout' | translate}}</span>
  </a>
  <a *ngIf="loggedInUser == ''" [routerLink]="['/login']" >
    <mat-icon>login</mat-icon>
    <span>{{'signin' | translate}}</span>
  </a>
  <span class="example-spacer"></span>
  <mat-form-field class="dropdown">
    <mat-label>{{'LANGdd' | translate}}</mat-label>
    <mat-select [formControl]="langChange">
      <mat-option *ngFor="let item of lang" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>