<mat-toolbar color="primary">
  <a  [routerLink]="['/product']">{{'productList' | translate}}</a>
  <a  [routerLink]="['/cart']">{{'cart' | translate}}</a>
  <span class="example-spacer"></span>
  <mat-form-field class="dropdown">
    <mat-label>{{'LANGdd' | translate}}</mat-label>
    <mat-select [formControl]="langChange">
      <mat-option *ngFor="let item of lang" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button [routerLink]="['/cart']"  >
    <mat-icon matBadge="{{cartSize}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <div class="flex-column">
      <button class="margin-5" [routerLink]="['/checkout']" mat-raised-button>{{'checkout' | translate}}</button>
      <button class="margin-5"  mat-raised-button></button>
      <button class="margin-5" mat-raised-button>{{'logout' | translate}}</button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
