/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.margin-5 {
    margin: 5px !important;
}

.padding-10 {
    padding: 10px;
}

.blue {
    color: #4285F4;
}

.green {
    color: #0F9D58;
}

.red {
    color: #DB4437;
}

.yellow {
    color: #F4B400;
}

.example-spacer {
    flex: 1 1 auto;
}


.mat-form-field {
    margin: 10px;
}

.snackbar {
    position: fixed;
    top: 60px;
    right: 5px;
}

.large {
    font-size: 40px;
}